name: Run tests
on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Set up Python 3.10.11
      uses: actions/setup-python@v1
      with:
        python-version: 3.10.11

    - name: Run test
      run: python -m unittest discover --v